.window {
    width: auto;
    border: 1px solid #000;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;


}

.title-bar {
    background-color: #691988;
    color: #fff;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    cursor: move;
    user-select: none;
}

.close-btn {
    background-color: red;
    color: #fff;
    border: none;
    padding: 2px 5px;
    cursor: pointer;
}

.content {
    padding: 10px;
    user-select: none;
}