/* Estilos generales para el piano */


/* Estilos para las teclas blancas */
/* .piano .white-key {
  height: 150px;
  width: 40px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0 0 5px 5px;
  margin: 0 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  cursor: pointer;

}

/* Estilos para las teclas negras */
/* .piano .black-key {
  height: 90px;
  width: 30px;
  background-color: #000000;
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  z-index: 2;
  border-radius: 0 0 3px 3px;
  cursor: pointer;
} */

/* Efecto al presionar una tecla */
.piano .key:active {
  transform: translateY(3px);
  background-color: #050404;
}

*/ .window {
  width: 300px;
  border: 1px solid #000;
  position: absolute;
  background-color: #2b3129;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

/* .window1 {
  width: 300px;
  border: 1px solid #000;
  position: absolute;
  background-color: #2b3129;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

} */

.title-bar {
  background-color: #0078d4;
  color: #fff;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  cursor: move;
}

.close-btn {
  background-color: red;
  color: #fff;
  border: none;
  padding: 2px 5px;
  cursor: pointer;
}

.content {
  padding: 10px;
}

.piano .key .note-label {
  position: absolute;
  bottom: 5px;
  width: 0%;
  text-align: center;
  font-size: 0.8em;
  color: #666;
}

/* .piano .white-key .note-label {
  left: 0;
}

.piano .black-key .note-label {
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
} */


.drum-kit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

.drum-pad {

  justify-content: center;
  align-items: left;
  background-color: #ccc;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #000
}

.Row {
  height: 40px;
}

.grid {
  width: 504px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.square {
  width: 40px;
  height: 100%;
  border: 1px solid #2C3E50;
  border-radius: 5px;
  transition: background-color 0.05s ease;
}


/* ChordBalloons.css */
.chord-balloons {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  /* O el ancho que prefieras */
  background: #f3f3f3;
  /* Color de fondo del rectángulo */
  border-left: 1px solid #ccc;
  /* Separador */
  height: 100%;
  /* Asumiendo que quieres que se extienda verticalmente */
  overflow-y: auto;
  /* Si hay más acordes de los que caben en la pantalla */
}

.chord-balloon {
  padding: 10px;
  margin: 10px;
  background: #e0e0e0;
  /* Color de fondo de cada globo de acorde */
  cursor: pointer;
  /* Cambiar el cursor para indicar interactividad */
  /* Agrega más estilos según sea necesario */
}

.draggable-chord {
  /* Estilos para tus botones de acordes */
  padding: 10px;
  margin: 10px;
  background: #e0e0e0;
}

.draggable-palette {
  padding: 10px;
  margin: 10px;
  background: #e0e0e0;
  /* Estilos para el contenedor de la paleta */
}