.window1 {
    width: 800px;
    border: 1px solid #000;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 500px;

}

.chord-balloons-container {
    display: flex;
    align-items: flex-start;

    /* Asegúrate de que los componentes no se estiren */
}

.title-bar {
    background-color: #691988;
    color: #fff;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    cursor: move;
    user-select: none;
}

.close-btn {
    background-color: red;
    color: #fff;
    border: none;
    padding: 2px 5px;
    cursor: pointer;
}

.content {
    padding: 10px;
    user-select: none;
}


/* ChordBalloons.css */
.chord-balloons {
    position: relative;
    top: 0;
    right: 0;
    width: 100px;
    /* O el ancho que prefieras */
    background: #f3f3f3;
    /* Color de fondo del rectángulo */
    border-left: 1px solid #ccc;
    /* Separador */
    height: 50%;
    /* Asumiendo que quieres que se extienda verticalmente */
    overflow-y: auto;
    /* Si hay más acordes de los que caben en la pantalla */
}

.chord-balloon {
    padding: 10px;
    margin: 10px;
    background: #e0e0e0;
    /* Color de fondo de cada globo de acorde */
    cursor: pointer;
    /* Cambiar el cursor para indicar interactividad */
    /* Agrega más estilos según sea necesario */
    transition: background-color 0.3s, opacity 0.3s;
}